<launch>

    <include file="$(find turtlebot3_gazebo)/launch/turtlebot3_world.launch"></include>
    <arg name = "rosbagEnable" default= "false" />

    <node
        pkg="turtlebot_walker"
        name="walker"
        type="walker"
        output="screen"
    />
    <node
        pkg="rosbag"
        name="record"
        type="record"
        output="screen"
        args="-a -x /camera/(.*) -O $(find turtlebot_walker)/Results/walkertopics.bag"
        if="$(arg rosbagEnable)"
    />

</launch>
